.task-item-card {
  min-width: 22rem;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: auto;
}

.task-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task-body-content {
  flex: 1;
}

.task-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
