.pagination-controls {
    display: flex;
    justify-content: end;
    gap: 1em;
    padding: 10px;
    position: sticky;
    bottom: 0;
    background-color: white;
}

@media (max-width: 565px) {
    .pagination-controls {
        justify-content: center;
        gap: 0.5em;
    }
}
